[Unit]
Description=KraveAI FastAPI Backend
After=network.target

[Service]
User=karmean
WorkingDirectory=/home/karmean/kraveai-backend
ExecStart=/home/karmean/kraveai-backend/env/bin/python -m uvicorn main:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=5
StandardOutput=append:/home/karmean/kraveai-backend/logs/backend.log
StandardError=append:/home/karmean/kraveai-backend/logs/backend.log
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
