[Unit]
Description=KraveAI FastAPI Backend
After=network.target

[Service]
User=karmean
Group=karmean
WorkingDirectory=/home/karmean/kraveai-backend
Environment="PATH=/home/karmean/kraveai-backend/env/bin:/usr/bin:/bin:/usr/local/bin"
ExecStart=/home/karmean/kraveai-backend/env/bin/python -m uvicorn main:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
