# Ignorar dependencias instaladas localmente
node_modules
npm-debug.log
yarn-error.log
package-lock.json

# Archivos de sistema
.DS_Store
.env
.env.local
.vscode

# Opcional: carpetas de sesión o caché
session_data/
.cache/
