node_modules/
npm-debug.log
*~
*.swp
*.bak
*.tmp
.DS_Store
.idea/
.vscode/
.cache/
dist/
build/
tmp/
*.tsbuildinfo
.env
.env.*
*.env
errors/
screenshots/
*.pdf
.puppeteer-cache/
sessions/
.dockerignore
.gitignore
*.tar
docker-compose.yml
coverage/
