# Evita copiar dependencias de tu máquina local
node_modules
npm-debug.log
package-lock.json~

# Ignora archivos de sistema y editores
.DS_Store
.idea
.vscode
*.swp

# Evita subir archivos de caché
*.log
.cache/
dist/
tmp/
.env
.env.local
.env.*.local

# Si tienes archivos de medios o capturas
errors/
screenshots/
