# Node
node_modules/
package-lock.json
npm-debug.log

# Environment
.env
.env.enc

# GeoIP update files
geoip-update.lock

# OS specific
.DS_Store
Thumbs.db

# Puppeteer local chromium
.local-chromium/
kraveai.log
